.selectCountry {
    background-color: #424F61;
    position: absolute;
    width: 210px;
    height: 460px;
    right: 50px;
    top: 60px;
    bottom: 200px;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.country {
    /* margin-bottom: 8px; */
    border-radius: 4px;
    /* padding: 8px; */
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.label {
    color: #ffe4e1;
    align-self: stretch;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.textInput {
    width: 100%;
    height: 40px;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    outline: none;
}

.textArea {
    width: 100%;
    height: 100px;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    outline: none;
}

.cta {
    /* background-color: #2f4f4f;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    align-self: stretch; */
    background-color: #25303F;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    align-self: stretch;
    border: none;
    color: #ffe4e1;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.labelTwo {
    color: #ffe4e1;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.errormessage2 {
    background-color: #ffe4e1;
    color: #e94533;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 4px;
}

.messagecontainer {
    background-color: #6ca9e3ce;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 4px;
}

.successmessage {
    color: #0e7a1a;
    font-size: 20px;
    font-weight: bold;
}

.errormessage {
    color: #8f0909;
    font-size: 20px;
    font-weight: bold;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.title {
    color: #1a1a1a;
    align-self: stretch;
    margin-bottom: 8px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.subtitle {
    color: #666666;
    align-self: stretch;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
}