.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .App-header {
    background-color: #181925;
    width: 100%;
    /* min-height: 100vh; */
    flex: 0 0 60px;
    /* height: '60px'; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(1px + 2vmin); */
    color: white;
  }
  
  .App-Content1 {
    background-color: #f0f0f0;
    /* min-height: 100vh; */
    height: calc(100vh - 60px);
    width: 100%;
    /* height: 'calc(100vh - 60px)'; */
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .left {
    flex: 0 0 17.8%;
    background-color: #25303F;
    padding: 1rem;
  }
  
  .right {
    flex: 0 0 80%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* align-items: center;
    justify-content: center; */
    /* padding: 1rem; */
    padding: 0.1rem;
    position: relative;
  }

  .back{
    position: absolute;
    top:10px;
    left:10px;
  }